# Pandas 官方网站练习

In [5]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [1]:
dates = pd.date_range('20130101', periods=6)

In [2]:
df = pd.DataFrame(np.random.randn(6, 5), index=dates, columns=list('ABCDE'))

In [3]:
df

                   A         B         C         D         E
2013-01-01  1.435663 -0.230625 -0.525303 -0.718147 -0.045663
2013-01-02  0.482824  0.586510  0.528579  0.900434  0.125012
2013-01-03  1.310344 -0.832138  1.753055 -0.929701 -1.347979
2013-01-04 -0.844996  2.122563  1.151525 -0.726118 -1.131191
2013-01-05 -0.452339 -0.507473 -0.046495  0.801242  0.757964
2013-01-06  0.582799  1.579530 -1.745794  0.997761  0.211258

In [4]:
# 向下偏移 2 个位置
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [5]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [18]:
pd.Series([1, 3, 5, np.nan, 6, 8], index=dates)

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64