# pandas 的 concat 与 merge 的用法

参考资料：https://blog.csdn.net/zutsoft/article/details/51498026

In [50]:
df1 = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.arange(10, 16).reshape(2, 3), columns=['b', 'd', 'a'])

In [53]:
pd.concat([df1, df2], axis=0, sort=True)  # axis = 0 表示接在后面
# 设置 sort=False、copy=False 会提高性能
pd.concat([df1, df2], axis=0, sort=False, copy=False)

    a   b     c   d
0   0   1   2.0   3
1   4   5   6.0   7
2   8   9  10.0  11
0  12  10   NaN  11
1  15  13   NaN  14

In [54]:
import pandas as pd

left = pd.DataFrame({'k': ['K0', 'K1', 'K1', 'K2'],
                     'lv': [1, 2, 3, 4],
                     's': ['a', 'b', 'c', 'd']})
right = pd.DataFrame({'k': ['K1', 'K2', 'K4'],
                      'rv': [1, 2, 3]})
pd.merge(left, right, left_on='k', right_on='k', how='inner')
pd.merge(left, right, left_on='k', right_on='k', how='outer')
pd.merge(left, right, left_on='k', right_on='k', how='left')
pd.merge(left, right, left_on='k', right_on='k', how='right')

    k   lv    s  rv
0  K1  2.0    b   1
1  K1  3.0    c   1
2  K2  4.0    d   2
3  K4  NaN  NaN   3

In [58]:
df1 = pd.DataFrame({'key': ['a', 'b', 'b'], 'data1': range(3)})
df2 = pd.DataFrame({'key': ['a', 'b', 'c'], 'data2': range(3)})
pd.merge(df1, df2)  # 没有指定连接键，默认用重叠列名，没有指定连接方式

  key  data1  data2
0   a      0      0
1   b      1      1
2   b      2      1

ValueError: Length mismatch: Expected axis has 0 elements, new values have 2 elements