# 外国人写的机器学习书：第 4 章 数据预处理

In [4]:
from io import StringIO

csv_data = '''
A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
0.0,11.0,12.0
'''

In [6]:
import pandas as pd

df = pd.read_csv(StringIO(csv_data))
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  0.0  11.0  12.0  NaN

## 计算缺失值

### 计算每一列有多少缺失值

In [7]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

### 计算每一行有多少缺失值

In [11]:
df.isnull().sum(axis=1)

0    0
1    1
2    1
dtype: int64

In [12]:
df.values

array([[  1.,   2.,   3.,   4.],
       [  5.,   6.,  nan,   8.],
       [  0.,  11.,  12.,  nan]])

## 处理缺失数据

### 删除有缺失数据的行

In [15]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

### <span class="burk">只针对某一列有缺失数据</span>

In [18]:
df.dropna(subset=['D'])

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  5.0  6.0  NaN  8.0