
参考资料：https://www.kaggle.com/junheo/sf-crime-rate-prediction

In [25]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e

train = pd.read_csv('../input/train.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null object
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

In [26]:
test = pd.read_csv('../input/test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884262 entries, 0 to 884261
Data columns (total 7 columns):
Id            884262 non-null int64
Dates         884262 non-null object
DayOfWeek     884262 non-null object
PdDistrict    884262 non-null object
Address       884262 non-null object
X             884262 non-null float64
Y             884262 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 47.2+ MB

In [27]:
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [28]:
train = pd.read_csv('../input/train.csv', parse_dates=['Dates'])
test = pd.read_csv('../input/test.csv', parse_dates=['Dates'], index_col='Id')
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null datetime64[ns]
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 60.3+ MB

In [30]:
test.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y
Id,,,,,,
0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

### 数据都非空

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null datetime64[ns]
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 60.3+ MB

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 884262 entries, 0 to 884261
Data columns (total 6 columns):
Dates         884262 non-null datetime64[ns]
DayOfWeek     884262 non-null object
PdDistrict    884262 non-null object
Address       884262 non-null object
X             884262 non-null float64
Y             884262 non-null float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 47.2+ MB

In [33]:
train.isnull().sum()

Dates         0
Category      0
Descript      0
DayOfWeek     0
PdDistrict    0
Resolution    0
Address       0
X             0
Y             0
dtype: int64

## 特征工程：数据预处理

In [38]:
train['Dates']

0        2015-05-13 23:53:00
1        2015-05-13 23:53:00
2        2015-05-13 23:33:00
3        2015-05-13 23:30:00
4        2015-05-13 23:30:00
5        2015-05-13 23:30:00
6        2015-05-13 23:30:00
7        2015-05-13 23:30:00
8        2015-05-13 23:00:00
9        2015-05-13 23:00:00
10       2015-05-13 22:58:00
11       2015-05-13 22:30:00
12       2015-05-13 22:30:00
13       2015-05-13 22:06:00
14       2015-05-13 22:00:00
15       2015-05-13 22:00:00
16       2015-05-13 22:00:00
17       2015-05-13 21:55:00
18       2015-05-13 21:40:00
19       2015-05-13 21:30:00
20       2015-05-13 21:30:00
21       2015-05-13 21:17:00
22       2015-05-13 21:11:00
23       2015-05-13 21:11:00
24       2015-05-13 21:10:00
25       2015-05-13 21:00:00
26       2015-05-13 21:00:00
27       2015-05-13 21:00:00
28       2015-05-13 21:00:00
29       2015-05-13 20:56:00
                 ...
878019   2003-01-06 02:37:00
878020   2003-01-06 02:32:00
878021   2003-01-06 02:24:00
878022   2003-01-06 02:16:00
878023   2003-01-06 02:15:00
878024   2003-01-06 02:09:00
878025   2003-01-06 02:06:00
878026   2003-01-06 02:06:00
878027   2003-01-06 02:00:00
878028   2003-01-06 02:00:00
878029   2003-01-06 01:54:00
878030   2003-01-06 01:54:00
878031   2003-01-06 01:50:00
878032   2003-01-06 01:36:00
878033   2003-01-06 01:30:00
878034   2003-01-06 01:30:00
878035   2003-01-06 00:55:00
878036   2003-01-06 00:55:00
878037   2003-01-06 00:55:00
878038   2003-01-06 00:42:00
878039   2003-01-06 00:40:00
878040   2003-01-06 00:33:00
878041   2003-01-06 00:31:00
878042   2003-01-06 00:20:00
878043   2003-01-06 00:20:00
878044   2003-01-06 00:15:00
878045   2003-01-06 00:01:00
878046   2003-01-06 00:01:00
878047   2003-01-06 00:01:00
878048   2003-01-06 00:01:00
Name: Dates, Length: 878049, dtype: datetime64[ns]

In [54]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [62]:
pd.options.display.max_columns=100

In [63]:
%%time

train = pd.read_csv('../input/train.csv', parse_dates=['Dates'])
test = pd.read_csv('../input/test.csv', parse_dates=['Dates'], index_col='Id')

CPU times: user 3.73 s, sys: 324 ms, total: 4.06 s
Wall time: 4.07 s

### 把特征工程封装成一个方法

In [64]:
def feature_engineering(data):
    data['Date'] = pd.to_datetime(data['Dates'].dt.date)
    # 与最早的案发时间相比，经过了多少天 (train['Dates'] - train['Dates'].min()).head().apply(lambda x: x.days)
    data['n_days'] = (data['Date'] - data['Date'].min()).apply(lambda x: x.days)
    data['Day'] = data['Dates'].dt.day
    data['DayOfWeek'] = data['Dates'].dt.weekday
    data['Month'] = data['Dates'].dt.month
    data['Year'] = data['Dates'].dt.year
    data['Hour'] = data['Dates'].dt.hour
    data['Minute'] = data['Dates'].dt.minute
    # Address 信息是否包含 block 字段，默认不包含
    data['Block'] = data['Address'].str.contains('block', case=False).apply(lambda x: 1 if x == True else 0)
    # 经纬度之差
    data["X_Y"] = data["X"] - data["Y"]
    # 经纬度之和
    data["XY"] = data["X"] + data["Y"]
    data.drop(columns=['Dates','Date','Address'], inplace=True)
    return data

### 训练集和测试集经过同样的特征工程处理

In [65]:
%%time
train = feature_engineering(train)
test = feature_engineering(test)

CPU times: user 19.8 s, sys: 605 ms, total: 20.4 s
Wall time: 20.6 s

In [67]:
train.head()

,Category,Descript,DayOfWeek,PdDistrict,Resolution,X,Y,n_days,Day,Month,Year,Hour,Minute,Block,X_Y,XY
0,WARRANTS,WARRANT ARREST,2,NORTHERN,"ARREST, BOOKED",-122.425892,37.774599,4510,13,5,2015,23,53,0,-160.200490,-84.651293
1,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,2,NORTHERN,"ARREST, BOOKED",-122.425892,37.774599,4510,13,5,2015,23,53,0,-160.200490,-84.651293
2,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,2,NORTHERN,"ARREST, BOOKED",-122.424363,37.800414,4510,13,5,2015,23,33,0,-160.224777,-84.623949
3,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,2,NORTHERN,NONE,-122.426995,37.800873,4510,13,5,2015,23,30,1,-160.227868,-84.626123
4,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,2,PARK,NONE,-122.438738,37.771541,4510,13,5,2015,23,30,1,-160.210279,-84.667196

In [66]:
test.head()

,DayOfWeek,PdDistrict,X,Y,n_days,Day,Month,Year,Hour,Minute,Block,X_Y,XY
Id,,,,,,,,,,,,,
0,6,BAYVIEW,-122.399588,37.735051,4512,10,5,2015,23,59,1,-160.134639,-84.664537
1,6,BAYVIEW,-122.391523,37.732432,4512,10,5,2015,23,51,0,-160.123955,-84.659091
2,6,NORTHERN,-122.426002,37.792212,4512,10,5,2015,23,50,1,-160.218214,-84.633790
3,6,INGLESIDE,-122.437394,37.721412,4512,10,5,2015,23,45,1,-160.158806,-84.715982
4,6,INGLESIDE,-122.437394,37.721412,4512,10,5,2015,23,45,1,-160.158806,-84.715982

In [68]:
# Resolution: 处理结果，比如说『逮捕』『逃了』
# Descript: 对于犯罪更详细的描述
train.drop(columns=['Descript', 'Resolution'], inplace=True)

In [9]:
import pandas as pd
import numpy as np

import lightgbm as lgb

/Users/liwei/anaconda3/envs/ipykernel_py3/lib/python3.6/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.1) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

### LabelEncoder 的用法

In [69]:
from sklearn.preprocessing import LabelEncoder

le1 = LabelEncoder()
train['PdDistrict'] = le1.fit_transform(train['PdDistrict'])

test['PdDistrict'] = le1.transform(test['PdDistrict'])

le2 = LabelEncoder()
X = train.drop(columns=['Category'])
y = le2.fit_transform(train['Category'])

In [71]:
X.head()

,DayOfWeek,PdDistrict,X,Y,n_days,Day,Month,Year,Hour,Minute,Block,X_Y,XY
0,2,4,-122.425892,37.774599,4510,13,5,2015,23,53,0,-160.200490,-84.651293
1,2,4,-122.425892,37.774599,4510,13,5,2015,23,53,0,-160.200490,-84.651293
2,2,4,-122.424363,37.800414,4510,13,5,2015,23,33,0,-160.224777,-84.623949
3,2,4,-122.426995,37.800873,4510,13,5,2015,23,30,1,-160.227868,-84.626123
4,2,5,-122.438738,37.771541,4510,13,5,2015,23,30,1,-160.210279,-84.667196

In [73]:
y

array([37, 21, 21, ..., 16, 35, 12])

In [74]:
train_data = lgb.Dataset(
    X, label=y, categorical_feature=[
        'PdDistrict',
    ])
params = {
    'boosting': 'gbdt',
    'objective': 'multiclass',
    'num_class': 39,
    'max_delta_step': 0.9,
    'min_data_in_leaf': 21,
    'learning_rate': 0.4,
    'max_bin': 465,
    'num_leaves': 41,
    'verbose': 1
}

In [75]:
%%time
bst = lgb.train(params, train_data, 120)

/Users/liwei/anaconda3/envs/ipykernel_py3/lib/python3.6/site-packages/lightgbm/basic.py:1186: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

CPU times: user 11min 19s, sys: 1min 16s, total: 12min 35s
Wall time: 2min 54s

In [76]:
%%time
predictions = bst.predict(test)

CPU times: user 8min 52s, sys: 3.63 s, total: 8min 56s
Wall time: 1min 21s

In [81]:
le2.inverse_transform(np.linspace(0, 38, 39, dtype='int16'))

array(['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY',
       'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE',
       'DRUG/NARCOTIC', 'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION',
       'FAMILY OFFENSES', 'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING',
       'KIDNAPPING', 'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING',
       'MISSING PERSON', 'NON-CRIMINAL', 'OTHER OFFENSES',
       'PORNOGRAPHY/OBSCENE MAT', 'PROSTITUTION', 'RECOVERED VEHICLE',
       'ROBBERY', 'RUNAWAY', 'SECONDARY CODES', 'SEX OFFENSES FORCIBLE',
       'SEX OFFENSES NON FORCIBLE', 'STOLEN PROPERTY', 'SUICIDE',
       'SUSPICIOUS OCC', 'TREA', 'TRESPASS', 'VANDALISM', 'VEHICLE THEFT',
       'WARRANTS', 'WEAPON LAWS'], dtype=object)

In [82]:
submission = pd.DataFrame(
    predictions,
    columns=le2.inverse_transform(np.linspace(0, 38, 39, dtype='int16')),
    index=test.index)

In [83]:
submission.to_csv('../output/LGBM_final.csv', index_label='Id')