# 创建测试对象

参考资料：Pandas基础命令速查表
https://www.kesci.com/home/project/59e389b54663f7655c48f518

In [2]:
df = pd.DataFrame(np.random.rand(10, 5))
df

          0         1         2         3         4
0  0.492040  0.999262  0.068336  0.455101  0.758681
1  0.028179  0.849519  0.755696  0.934344  0.930563
2  0.824295  0.898170  0.963445  0.083355  0.941677
3  0.851373  0.796041  0.052234  0.934958  0.942700
4  0.586627  0.219767  0.676747  0.862700  0.370225
5  0.996624  0.067942  0.752872  0.549842  0.735572
6  0.317516  0.881845  0.132022  0.412312  0.409534
7  0.141201  0.243939  0.701280  0.963205  0.170282
8  0.227767  0.048819  0.737653  0.995511  0.504743
9  0.565052  0.699472  0.657619  0.282562  0.365974

In [5]:
my_list = ['Kesci', 100, '欢迎来到科赛网']
s = pd.Series(my_list)
s

0      Kesci
1        100
2    欢迎来到科赛网
dtype: object

In [6]:
# 添加一个日期索引 index
df.index = pd.date_range('2017/1/1', periods=df.shape[0])

In [9]:
df

                   0         1         2         3         4
2017-01-01  0.492040  0.999262  0.068336  0.455101  0.758681
2017-01-02  0.028179  0.849519  0.755696  0.934344  0.930563
2017-01-03  0.824295  0.898170  0.963445  0.083355  0.941677
2017-01-04  0.851373  0.796041  0.052234  0.934958  0.942700
2017-01-05  0.586627  0.219767  0.676747  0.862700  0.370225
2017-01-06  0.996624  0.067942  0.752872  0.549842  0.735572
2017-01-07  0.317516  0.881845  0.132022  0.412312  0.409534
2017-01-08  0.141201  0.243939  0.701280  0.963205  0.170282
2017-01-09  0.227767  0.048819  0.737653  0.995511  0.504743
2017-01-10  0.565052  0.699472  0.657619  0.282562  0.365974

In [23]:
df

                            A         B         C         D         E
2017-01-01 00:00:00  0.106657  0.758120  0.318637  0.625626  0.804699
2017-01-02 00:00:00  0.244824  0.204403  0.055356  0.214074  0.775164
2017-01-03 00:00:00  0.917824  0.472936  0.595361  0.981097  0.203531
2017-01-04 00:00:00  0.953917  0.942834  0.411406  0.221718  0.290516
2017-01-05 00:00:00  0.954554  0.969843  0.808572  0.482765  0.903510
2017-01-09                NaN       NaN       NaN       NaN       NaN

In [12]:
df.describe() # 对于数据类型为数值型的列，查询其描述性统计的内容

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.503068   0.570478   0.549790   0.647389   0.612995
std     0.324163   0.378280   0.332437   0.330876   0.283412
min     0.028179   0.048819   0.052234   0.083355   0.170282
25%     0.250204   0.225810   0.263421   0.423009   0.380053
50%     0.528546   0.747757   0.689013   0.706271   0.620158
75%     0.764878   0.873763   0.749067   0.934805   0.887592
max     0.996624   0.999262   0.963445   0.995511   0.942700

In [13]:
s = pd.Series([1, 2, 3, 3, 4, np.nan, 5, 5, 5, 6, 7])
s.value_counts(dropna=False)

 5.0    3
 3.0    2
 7.0    1
 6.0    1
NaN     1
 4.0    1
 2.0    1
 1.0    1
dtype: int64

In [28]:
s = pd.Series(np.array(['I','Love','Data']),index=list('ABC'))
s

A       I
B    Love
C    Data
dtype: object

In [29]:
s.loc['B']

'Love'

In [31]:
s.iloc[1]

'Love'

In [37]:
df = pd.DataFrame(np.random.randn(10, 5))
df.index = pd.date_range('2018-09-01', periods=df.shape[0])
df

                   0         1         2         3         4
2018-09-01  1.027175  0.377386 -1.404809 -1.160236 -1.556277
2018-09-02 -0.908819 -1.367277 -0.247405 -0.379120 -0.790414
2018-09-03  1.036031 -0.017665  0.289285  0.291233 -0.126151
2018-09-04  1.224113  0.513400 -0.358068 -0.732288  0.718371
2018-09-05 -0.151933 -1.674926  1.637634  0.200434 -1.414628
2018-09-06  0.480703  0.856692 -0.058047 -0.746230 -0.149757
2018-09-07 -0.359480  2.830788 -1.044119  0.191905  0.590085
2018-09-08 -1.921659  0.626341  0.504343 -1.190342  1.178351
2018-09-09  0.013908 -0.596552 -0.283824  0.780118 -0.310985
2018-09-10  0.142201 -0.294838  0.321263  0.652704 -1.893697

In [43]:
s = pd.Series([1, 2, 3, 3, 4, np.nan, 5, 5, 5, 6, 7])
s.value_counts(dropna=False)

 5.0    3
 3.0    2
 7.0    1
 6.0    1
NaN     1
 4.0    1
 2.0    1
 1.0    1
dtype: int64

In [53]:
df = pd.DataFrame(np.random.randint(3, 5, (10, 5)), columns=list("ABCDE"),
                  index=pd.date_range('2018-09-01', periods=10))
df

            A  B  C  D  E
2018-09-01  3  4  4  3  3
2018-09-02  4  4  4  4  4
2018-09-03  4  4  3  3  4
2018-09-04  3  4  4  3  3
2018-09-05  4  4  3  4  4
2018-09-06  3  4  4  4  4
2018-09-07  4  3  3  4  3
2018-09-08  3  4  3  4  3
2018-09-09  3  3  4  3  4
2018-09-10  3  3  4  4  4

In [51]:
df.apply(pd.Series.value_counts)

   0  1  2  3  4
3  5  5  5  6  4
4  5  5  5  4  6

In [55]:
df = pd.DataFrame({'A': np.array([1, np.nan, 2, 3, 6, np.nan]),
                   'B': np.array([np.nan, 4, np.nan, 5, 9, np.nan]),
                   'C': 'foo'})
df

     A    B    C
0  1.0  NaN  foo
1  NaN  4.0  foo
2  2.0  NaN  foo
3  3.0  5.0  foo
4  6.0  9.0  foo
5  NaN  NaN  foo

In [57]:
pd.isnull(df)

       A      B      C
0  False   True  False
1   True  False  False
2  False   True  False
3  False  False  False
4  False  False  False
5   True   True  False

In [58]:
pd.notnull(df)

       A      B     C
0   True  False  True
1  False   True  True
2   True  False  True
3   True   True  True
4   True   True  True
5  False  False  True

In [66]:
df = pd.DataFrame({'A': np.array([1, np.nan, 2, 3, 6, np.nan]),
                   'B': np.array([np.nan, 4, np.nan, 5, 9, np.nan]),
                   'C': 'foo'})
df
# 移除包含空值的列
df.dropna(how='any', axis=1)

     C
0  foo
1  foo
2  foo
3  foo
4  foo
5  foo

In [69]:
df = pd.DataFrame({'A': np.array([1, np.nan, 2, 3, 6, np.nan]),
                   'B': np.array([np.nan, 4, np.nan, 5, 9, np.nan]),
                   'C': 'foo'})

df.fillna(1e8)

             A            B    C
0          1.0  100000000.0  foo
1  100000000.0          4.0  foo
2          2.0  100000000.0  foo
3          3.0          5.0  foo
4          6.0          9.0  foo
5  100000000.0  100000000.0  foo

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
A    4 non-null float64
B    3 non-null float64
C    6 non-null object
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes

In [79]:
s.fillna(100,inplace=True)
s

0       1.0
1       2.0
2       3.0
3       3.0
4       4.0
5     100.0
6       5.0
7       5.0
8       5.0
9       6.0
10      7.0
dtype: float64

In [80]:
s.astype(np.int) # 将数组(Series)的格式转化为浮点数

0       1
1       2
2       3
3       3
4       4
5     100
6       5
7       5
8       5
9       6
10      7
dtype: int64

In [81]:
df

     A    B    C
0  1.0  NaN  foo
1  NaN  4.0  foo
2  2.0  NaN  foo
3  3.0  5.0  foo
4  6.0  9.0  foo
5  NaN  NaN  foo

In [91]:
# 将全体列重命名
# df.rename(columns=lambda x: x+ 2)
df.rename(columns=lambda x: x + str(len(x)), inplace=True)

In [92]:
df

   A123  B123 C123
0   1.0   NaN  foo
1   NaN   4.0  foo
2   2.0   NaN  foo
3   3.0   5.0  foo
4   6.0   9.0  foo
5   NaN   NaN  foo

In [101]:
df.rename(index=lambda x: x + 1000, inplace=True)

In [102]:
df

      A123  B123 C123
3000   1.0   NaN  foo
3001   NaN   4.0  foo
3002   2.0   NaN  foo
3003   3.0   5.0  foo
3004   6.0   9.0  foo
3005   NaN   NaN  foo

In [104]:
df = pd.DataFrame(np.random.rand(10,5),columns=list('ABCDE'))
df

          A         B         C         D         E
0  0.593266  0.646115  0.214182  0.174002  0.954884
1  0.145459  0.901715  0.197148  0.841460  0.680454
2  0.537994  0.518613  0.279865  0.699619  0.890893
3  0.089397  0.095813  0.063833  0.517787  0.709486
4  0.076106  0.548120  0.835588  0.540574  0.554889
5  0.643453  0.074499  0.569368  0.237825  0.063873
6  0.806761  0.863302  0.730876  0.602253  0.551565
7  0.053880  0.550620  0.808715  0.510137  0.178632
8  0.056600  0.086561  0.758134  0.845162  0.897482
9  0.028825  0.083205  0.573613  0.007306  0.711500

### 还可以这样改类名，使用键值对的方式

In [106]:
df = pd.DataFrame(np.random.rand(10, 5), columns=list('ABCDE'))
df

          A         B         C         D         E
0  0.851163  0.556323  0.425149  0.022482  0.414644
1  0.471457  0.225144  0.850317  0.425423  0.073775
2  0.292533  0.680643  0.907607  0.365054  0.802461
3  0.997356  0.919213  0.553785  0.618283  0.619206
4  0.461528  0.925798  0.279196  0.022940  0.454806
5  0.395671  0.100481  0.805533  0.281423  0.519440
6  0.755910  0.954503  0.826173  0.667878  0.443153
7  0.089434  0.211686  0.328778  0.285604  0.382615
8  0.540877  0.944312  0.363491  0.713583  0.238567
9  0.192059  0.334937  0.154395  0.528822  0.668624

In [110]:
df.rename(columns={'A': 'name', 'B': 'age'}, inplace=True)

In [113]:
df

       name       age         C         D         E
0  0.851163  0.556323  0.425149  0.022482  0.414644
1  0.471457  0.225144  0.850317  0.425423  0.073775
2  0.292533  0.680643  0.907607  0.365054  0.802461
3  0.997356  0.919213  0.553785  0.618283  0.619206
4  0.461528  0.925798  0.279196  0.022940  0.454806
5  0.395671  0.100481  0.805533  0.281423  0.519440
6  0.755910  0.954503  0.826173  0.667878  0.443153
7  0.089434  0.211686  0.328778  0.285604  0.382615
8  0.540877  0.944312  0.363491  0.713583  0.238567
9  0.192059  0.334937  0.154395  0.528822  0.668624

In [112]:
# 改变其中一列的值成为索引
# df.set_index('column_one')

In [114]:
df.set_index('name')

               age         C         D         E
name
0.851163  0.556323  0.425149  0.022482  0.414644
0.471457  0.225144  0.850317  0.425423  0.073775
0.292533  0.680643  0.907607  0.365054  0.802461
0.997356  0.919213  0.553785  0.618283  0.619206
0.461528  0.925798  0.279196  0.022940  0.454806
0.395671  0.100481  0.805533  0.281423  0.519440
0.755910  0.954503  0.826173  0.667878  0.443153
0.089434  0.211686  0.328778  0.285604  0.382615
0.540877  0.944312  0.363491  0.713583  0.238567
0.192059  0.334937  0.154395  0.528822  0.668624

In [126]:
df = pd.DataFrame(np.random.randint(3, 7, (10, 5)),columns=list("ABCDE"))
df.rename(inplace=True, index=lambda x: x + 1000)

In [127]:
df

      A  B  C  D  E
1000  3  5  5  6  4
1001  6  4  3  6  5
1002  3  6  5  3  5
1003  3  6  5  4  6
1004  3  5  5  5  6
1005  6  6  4  4  6
1006  3  6  5  4  5
1007  4  4  3  3  6
1008  4  6  5  3  5
1009  5  4  3  6  6

In [128]:
df.loc[1001]

A    6
B    4
C    3
D    6
E    5
Name: 1001, dtype: int64

In [130]:
df = pd.DataFrame({'A': np.array(['foo', 'foo', 'foo', 'foo', 'bar', 'bar']),
                   'B': np.array(['one', 'one', 'two', 'two', 'three', 'three']),
                   'C': np.array(['small', 'medium', 'large', 'large', 'small', 'small']),
                   'D': np.array([1, 2, 2, 3, 3, 5])})

df

     A      B       C  D
0  foo    one   small  1
1  foo    one  medium  2
2  foo    two   large  2
3  foo    two   large  3
4  bar  three   small  3
5  bar  three   small  5

In [131]:
df.groupby('A').count()

     B  C  D
A
bar  2  2  2
foo  4  4  4

In [133]:
df = pd.DataFrame({'A': np.array(['foo', 'foo', 'foo', 'foo', 'bar', 'bar']),
                   'B': np.array(['one', 'one', 'two', 'two', 'three', 'three']),
                   'C': np.array(['small', 'medium', 'large', 'large', 'small', 'small']),
                   'D': np.array([1, 2, 2, 3, 3, 5])})
df

     A      B       C  D
0  foo    one   small  1
1  foo    one  medium  2
2  foo    two   large  2
3  foo    two   large  3
4  bar  three   small  3
5  bar  three   small  5

In [135]:
df.groupby(['B', 'C']).count()

              A  D
B     C
one   medium  1  1
      small   1  1
three small   2  2
two   large   2  2

In [137]:
df = pd.DataFrame({'A': np.array(['foo', 'foo', 'foo', 'foo', 'bar', 'bar']),
                   'B': np.array(['one', 'one', 'two', 'two', 'three', 'three']),
                   'C': np.array(['small', 'medium', 'large', 'large', 'small', 'small']),
                   'D': np.array([1, 2, 2, 3, 3, 5])})
df

     A      B       C  D
0  foo    one   small  1
1  foo    one  medium  2
2  foo    two   large  2
3  foo    two   large  3
4  bar  three   small  3
5  bar  three   small  5

In [138]:
df.groupby('B')['D'].mean()

B
one      1.5
three    4.0
two      2.5
Name: D, dtype: float64

In [139]:
df.groupby('B')

In [142]:
df = pd.DataFrame(np.random.rand(10, 5), columns=list('ABCDE'))
df

          A         B         C         D         E
0  0.221092  0.713371  0.762740  0.685290  0.670438
1  0.321329  0.567826  0.003137  0.799035  0.834801
2  0.103024  0.476569  0.551838  0.092224  0.680237
3  0.788913  0.998963  0.995510  0.985308  0.023313
4  0.743651  0.400000  0.604530  0.387314  0.084087
5  0.722428  0.955087  0.815200  0.095908  0.849588
6  0.362909  0.140219  0.969593  0.983634  0.948947
7  0.249975  0.442121  0.707411  0.071103  0.839770
8  0.086310  0.095723  0.068590  0.569932  0.714338
9  0.087610  0.133812  0.208445  0.644377  0.961420

In [143]:
df.sum()

A    3.687242
B    4.923691
C    5.686994
D    5.314125
E    6.606940
dtype: float64

In [144]:
df.mean()

A    0.368724
B    0.492369
C    0.568699
D    0.531412
E    0.660694
dtype: float64

In [145]:
df.sum() / 10

A    0.368724
B    0.492369
C    0.568699
D    0.531412
E    0.660694
dtype: float64

In [146]:
df.std()

A    0.280830
B    0.324292
C    0.359299
D    0.355164
E    0.335604
dtype: float64

In [147]:
df = pd.DataFrame(np.random.rand(10, 5), columns=list('ABCDE'))

In [149]:
df.corr()

          A         B         C         D         E
A  1.000000  0.188606 -0.084732 -0.009098 -0.222957
B  0.188606  1.000000 -0.199684 -0.207559  0.338477
C -0.084732 -0.199684  1.000000 -0.582091 -0.554040
D -0.009098 -0.207559 -0.582091  1.000000  0.374010
E -0.222957  0.338477 -0.554040  0.374010  1.000000

In [150]:
np.corrcoef(df['A'],df['B'])

array([[1.        , 0.18860623],
       [0.18860623, 1.        ]])